<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Tienda</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" href="#"> <i class="fas fa-toolbox"></i> Admin</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/create">
            <i class="fas fa-plus-circle"></i> Nuevo</a
          >
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" href="#"> <i class="fas fa-toolbox"></i> Admin</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/create">
            <i class="fas fa-plus-circle"></i> Nuevo</a
          >
        </li>

        <li *ngIf="isLogged" class="nav-item mr-3">
          <a class="nav-link" href="#"> Bienvenido {{ username }} </a>
        </li>
      </ul>
      <button
        *ngIf="!isLogged"
        class="btn btn-outline-success ms-1"
        (click)="login()"
      >
        Iniciar Sesión
      </button>
      <button
        *ngIf="isLogged"
        class="btn btn-outline-warning"
        (click)="logout()"
      >
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>
